
# Use this file to store secrets like usernames and passwords.
# Learn more at https: "REMPLACER"
some_password: "REMPLACER"
smtp_password: "REMPLACER"
smtp_sender: "REMPLACER"
smtp_recipient: "REMPLACER"
